# Default ignored files
/shelf/
/workspace.xml
/deploymentTargetDropDown.xml
/androidTestResultsUserPreferences.xml
/inspectionProfiles/Project_Default.xml
/deploymentTargetSelector.xml
/codeStyles
/dictionaries
/modules
/AndroidProjectSystem.xml
/appInsightsSettings.xml
/markdown.xml